body {
  background: #0cb5d3;
}

#home-container {
  margin: auto;
  width: 30%;
  background: rgb(198, 206, 230);
  margin-top: 32px;
  padding: 20px 5px;
  border-radius: 5px;
}
.board{
  width: 100%;
  height: 100%;
}
#home-container input[type='text'] {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px 5px;
  font-size: 110%;
}
#home-container img{
  display: block;
  margin: auto;
  width: 95%;
  padding: 10px 5px;
}

.btn {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}
.btn-style-1 {
  background: yellow;
}

#home-container input[type='submit'] {
  display: block;
  margin: auto;
  margin-top: 16px;
  font-size: 120%;
}
canvas {
  margin-top: 70px;
  background: #ffffff;
  display: block;
  margin: auto;
}

#game-container {
  display: grid;
  grid-template-columns: auto 800px 400px;
  grid-template-rows: auto auto;
  row-gap: 10px;
  column-gap: 75px;
}

#roundinfo-container {
  padding: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 190%;
  text-align: left;
}
#score {
  color: black;
  padding: 80px;
}
#round-waiting {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
#round-word {
  color:navy;
  font-weight: bold;
  letter-spacing: 3px;
}
#word {
  color: black;
  font-style: italic;
}

#chatbox-container {
  position: block;
  margin-top: 40px;
  width: 350px;
  height: 610px;
  background: rgb(198, 206, 230);
}

#chatbox-messages {
  height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}
#chatbox-messages > div {
  font-size: 110%;
  height: auto;
  word-wrap: break-word;
  padding: 5px 10px;
}
#chatbox-messages > div:nth-of-type(even) {
  background: #ffffff;
}
#chatbox-form input {
  display: block;
  margin: auto;
  width: 90%;
  height: 32px;
  font-size: 120%;
}
.msg-chat {
  color: black;
}

#players {
  margin: auto;
  height: auto;
  width: 130%;
  margin-top: 60px;
  grid-column: 1;
  border: 1px solid black;
  background: #edeef2;
  border-radius: 10px;
  font-size: 120%;
}
#players > div {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
}
#players > div > .action {
  text-align: left;
  font-weight: bold;
  color: red;
  font-size: 110%;
}
#players > div > .names {
  text-align: right;
}
#players > h2 {
  text-align: center;
  margin: 10px;
}
#players > div:nth-of-type(odd) {
  background: #ffffff;
}

#pencil {
  margin: 0;
  font-size: 150%;
  vertical-align: middle;
}

